Flow Node Red/Flow NodeRed Aplicacion Parqueadero.txt
[{"id":"ccc160a3.b8884","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"b3ba4d09.37d19","type":"http request","z":"ccc160a3.b8884","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"http://192.168.0.3:8001/","tls":"","persist":false,"proxy":"","authType":"","x":460,"y":120,"wires":[["1e4a02d7.3c194d"]]},{"id":"21636f98.b596a","type":"inject","z":"ccc160a3.b8884","name":"","topic":"","payload":"{\"valoresiot\":{\"temperatura\":\"41\"}}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":120,"wires":[["b3ba4d09.37d19"]]},{"id":"1e4a02d7.3c194d","type":"debug","z":"ccc160a3.b8884","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":740,"y":120,"wires":[]},{"id":"6f142b49.2dbc94","type":"mqtt in","z":"ccc160a3.b8884","name":"","topic":"nodeMCU/sensorRFID","qos":"2","datatype":"auto","broker":"5dc876a.929f488","x":160,"y":220,"wires":[["4cbcabc3.553504"]]},{"id":"4cbcabc3.553504","type":"function","z":"ccc160a3.b8884","name":"","func":"var msg1;\nmsg1 = '{\"id\":\"';\nmsg1 += msg.payload;\nmsg.payload = msg1 + '\"}';\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":220,"wires":[["b5c55e3d.0659c"]]},{"id":"d9a79870.89af08","type":"http request","z":"ccc160a3.b8884","name":"","method":"POST","ret":"txt","paytoqs":true,"url":"http://192.168.0.3:8001/usuario_y_bahia_libre_x_id_usuario","tls":"","persist":false,"proxy":"","authType":"","x":730,"y":260,"wires":[["4c3c95c3.34b7fc","7117d25a.83b03c","3218fd06.cb9ff2","239849ed.10f756","e0cca659.82f978"]]},{"id":"d4028197.76cef","type":"debug","z":"ccc160a3.b8884","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":730,"y":220,"wires":[]},{"id":"b5c55e3d.0659c","type":"json","z":"ccc160a3.b8884","name":"","property":"payload","action":"","pretty":true,"x":530,"y":220,"wires":[["d4028197.76cef","d9a79870.89af08"]]},{"id":"4c3c95c3.34b7fc","type":"debug","z":"ccc160a3.b8884","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":910,"y":260,"wires":[]},{"id":"7117d25a.83b03c","type":"string","z":"ccc160a3.b8884","name":"","methods":[{"name":"between","params":[{"type":"str","value":":"},{"type":"str","value":","}]},{"name":"between","params":[{"type":"str","value":"\""},{"type":"str","value":"\""}]}],"prop":"payload","propout":"payload","object":"msg","objectout":"msg","x":750,"y":340,"wires":[["1f42b3a8.1003ac"]]},{"id":"3218fd06.cb9ff2","type":"string","z":"ccc160a3.b8884","name":"","methods":[{"name":"between","params":[{"type":"str","value":"apellidos"},{"type":"str","value":","}]},{"name":"delLeftMost","params":[{"type":"str","value":"\":"}]},{"name":"between","params":[{"type":"str","value":"\""},{"type":"str","value":"\""}]}],"prop":"payload","propout":"payload","object":"msg","objectout":"msg","x":730,"y":400,"wires":[["9128409.72baac"]]},{"id":"239849ed.10f756","type":"string","z":"ccc160a3.b8884","name":"","methods":[{"name":"between","params":[{"type":"str","value":"placa_vehiculo"},{"type":"str","value":"}"}]},{"name":"delLeftMost","params":[{"type":"str","value":"\":"}]},{"name":"between","params":[{"type":"str","value":"\""},{"type":"str","value":"\""}]}],"prop":"payload","propout":"payload","object":"msg","objectout":"msg","x":730,"y":460,"wires":[["428143f8.b0008c"]]},{"id":"1f42b3a8.1003ac","type":"ui_text","z":"ccc160a3.b8884","group":"4f7b1a40.3dbf74","order":0,"width":0,"height":0,"name":"","label":"Nombre:","format":"{{msg.payload}}","layout":"row-spread","x":930,"y":340,"wires":[]},{"id":"9128409.72baac","type":"ui_text","z":"ccc160a3.b8884","group":"4f7b1a40.3dbf74","order":0,"width":0,"height":0,"name":"","label":"Apelliidos:","format":"{{msg.payload}}","layout":"row-spread","x":930,"y":400,"wires":[]},{"id":"428143f8.b0008c","type":"ui_text","z":"ccc160a3.b8884","group":"4f7b1a40.3dbf74","order":0,"width":0,"height":0,"name":"","label":"Placa","format":"{{msg.payload}}","layout":"row-spread","x":910,"y":460,"wires":[]},{"id":"db7acea3.a4878","type":"ui_text","z":"ccc160a3.b8884","group":"4f7b1a40.3dbf74","order":3,"width":0,"height":0,"name":"","label":"Bahía:","format":"{{msg.payload}}","layout":"row-spread","x":920,"y":520,"wires":[]},{"id":"e0cca659.82f978","type":"string","z":"ccc160a3.b8884","name":"","methods":[{"name":"between","params":[{"type":"str","value":"bahia"},{"type":"str","value":"]"}]},{"name":"between","params":[{"type":"str","value":":"},{"type":"str","value":"}"}]}],"prop":"payload","propout":"payload","object":"msg","objectout":"msg","x":730,"y":520,"wires":[["db7acea3.a4878"]]},{"id":"a3b64122.08946","type":"mqtt in","z":"ccc160a3.b8884","name":"","topic":"nodeMCU/sensorFotoelectrico5","qos":"2","datatype":"auto","broker":"5dc876a.929f488","x":210,"y":580,"wires":[["28276764.d7a398","578561e4.03abf"]]},{"id":"28276764.d7a398","type":"debug","z":"ccc160a3.b8884","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":490,"y":580,"wires":[]},{"id":"f94ae7a6.eae148","type":"http request","z":"ccc160a3.b8884","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"http://192.168.0.3:8001/actualiza_estado_bahia","tls":"","persist":false,"proxy":"","authType":"","x":730,"y":660,"wires":[["a78ceea4.812ca"]]},{"id":"cd22f01.6bd861","type":"json","z":"ccc160a3.b8884","name":"","property":"payload","action":"","pretty":true,"x":570,"y":660,"wires":[["f94ae7a6.eae148"]]},{"id":"a78ceea4.812ca","type":"debug","z":"ccc160a3.b8884","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":910,"y":660,"wires":[]},{"id":"578561e4.03abf","type":"string","z":"ccc160a3.b8884","name":"","methods":[{"name":"between","params":[{"type":"str","value":"\"estado\":"},{"type":"str","value":"}"}]},{"name":"between","params":[{"type":"str","value":"\""},{"type":"str","value":"\""}]}],"prop":"payload","propout":"payload","object":"msg","objectout":"msg","x":280,"y":660,"wires":[["5b3c00c3.70607","7b57bede.29d25"]]},{"id":"5b3c00c3.70607","type":"function","z":"ccc160a3.b8884","name":"","func":"if (msg.payload==\"ocupada\") {\n    msg.payload= '{\"bahia\": 5, \"estado\": \"ocupada\"}';\n}\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":660,"wires":[["cd22f01.6bd861"]]},{"id":"7b57bede.29d25","type":"function","z":"ccc160a3.b8884","name":"","func":"if (msg.payload==\"libre\") {\n    msg.payload = '{\"bahia\": 5, \"estado\": \"libre\"}';\n}\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":720,"wires":[["d3621f22.a8a45"]]},{"id":"685ba1ae.bae","type":"http request","z":"ccc160a3.b8884","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"http://192.168.0.3:8001/actualiza_hora_salida_bahia","tls":"","persist":false,"proxy":"","authType":"","x":730,"y":720,"wires":[["21d53736.b7d2e8"]]},{"id":"d3621f22.a8a45","type":"json","z":"ccc160a3.b8884","name":"","property":"payload","action":"","pretty":true,"x":570,"y":720,"wires":[["685ba1ae.bae"]]},{"id":"21d53736.b7d2e8","type":"debug","z":"ccc160a3.b8884","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":910,"y":720,"wires":[]},{"id":"c54af728.961428","type":"mqtt in","z":"ccc160a3.b8884","name":"","topic":"nodeMCU/sensorFotoelectrico1","qos":"2","datatype":"auto","broker":"5dc876a.929f488","x":210,"y":800,"wires":[["8fc56754.d06c88","43ae3192.c6ef5"]]},{"id":"8fc56754.d06c88","type":"debug","z":"ccc160a3.b8884","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":490,"y":800,"wires":[]},{"id":"5cee89f.7cec178","type":"http request","z":"ccc160a3.b8884","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"http://192.168.0.3:8001/actualiza_estado_bahia","tls":"","persist":false,"proxy":"","authType":"","x":730,"y":880,"wires":[["9d2b5b1f.2e8bd8"]]},{"id":"1780613b.ffd77f","type":"json","z":"ccc160a3.b8884","name":"","property":"payload","action":"","pretty":true,"x":570,"y":880,"wires":[["5cee89f.7cec178"]]},{"id":"9d2b5b1f.2e8bd8","type":"debug","z":"ccc160a3.b8884","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":910,"y":880,"wires":[]},{"id":"43ae3192.c6ef5","type":"string","z":"ccc160a3.b8884","name":"","methods":[{"name":"between","params":[{"type":"str","value":"\"estado\":"},{"type":"str","value":"}"}]},{"name":"between","params":[{"type":"str","value":"\""},{"type":"str","value":"\""}]}],"prop":"payload","propout":"payload","object":"msg","objectout":"msg","x":280,"y":880,"wires":[["5396211a.d2b36","598dd694.120e48"]]},{"id":"5396211a.d2b36","type":"function","z":"ccc160a3.b8884","name":"","func":"if (msg.payload==\"ocupada\") {\n    msg.payload= '{\"bahia\": 1, \"estado\": \"ocupada\"}';\n}\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":880,"wires":[["1780613b.ffd77f"]]},{"id":"598dd694.120e48","type":"function","z":"ccc160a3.b8884","name":"","func":"if (msg.payload==\"libre\") {\n    msg.payload = '{\"bahia\": 1, \"estado\": \"libre\"}';\n}\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":940,"wires":[["185e8ab6.d91815"]]},{"id":"1b2bc623.453d9a","type":"http request","z":"ccc160a3.b8884","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"http://192.168.0.3:8001/actualiza_hora_salida_bahia","tls":"","persist":false,"proxy":"","authType":"","x":730,"y":940,"wires":[["a970d954.61b818"]]},{"id":"185e8ab6.d91815","type":"json","z":"ccc160a3.b8884","name":"","property":"payload","action":"","pretty":true,"x":570,"y":940,"wires":[["1b2bc623.453d9a"]]},{"id":"a970d954.61b818","type":"debug","z":"ccc160a3.b8884","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":910,"y":940,"wires":[]},{"id":"eb202fb6.9bf03","type":"mqtt in","z":"ccc160a3.b8884","name":"","topic":"nodeMCU/sensorFotoelectrico3","qos":"2","datatype":"auto","broker":"5dc876a.929f488","x":210,"y":1020,"wires":[["99de8a48.53de78","fbcc7bc6.ef3ad8"]]},{"id":"99de8a48.53de78","type":"debug","z":"ccc160a3.b8884","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":490,"y":1020,"wires":[]},{"id":"d2cb3140.9890a","type":"http request","z":"ccc160a3.b8884","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"http://192.168.0.3:8001/actualiza_estado_bahia","tls":"","persist":false,"proxy":"","authType":"","x":730,"y":1100,"wires":[["93e85195.51eb2"]]},{"id":"8b51a580.fd24c8","type":"json","z":"ccc160a3.b8884","name":"","property":"payload","action":"","pretty":true,"x":570,"y":1100,"wires":[["d2cb3140.9890a"]]},{"id":"93e85195.51eb2","type":"debug","z":"ccc160a3.b8884","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":910,"y":1100,"wires":[]},{"id":"fbcc7bc6.ef3ad8","type":"string","z":"ccc160a3.b8884","name":"","methods":[{"name":"between","params":[{"type":"str","value":"\"estado\":"},{"type":"str","value":"}"}]},{"name":"between","params":[{"type":"str","value":"\""},{"type":"str","value":"\""}]}],"prop":"payload","propout":"payload","object":"msg","objectout":"msg","x":280,"y":1100,"wires":[["3dea64ac.5f0b3c","2d9b15d8.4d382a"]]},{"id":"3dea64ac.5f0b3c","type":"function","z":"ccc160a3.b8884","name":"","func":"if (msg.payload==\"ocupada\") {\n    msg.payload= '{\"bahia\": 3, \"estado\": \"ocupada\"}';\n}\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":1100,"wires":[["8b51a580.fd24c8"]]},{"id":"2d9b15d8.4d382a","type":"function","z":"ccc160a3.b8884","name":"","func":"if (msg.payload==\"libre\") {\n    msg.payload = '{\"bahia\": 3, \"estado\": \"libre\"}';\n}\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":1160,"wires":[["19fc3502.aff23b"]]},{"id":"b4839b4a.314068","type":"http request","z":"ccc160a3.b8884","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"http://192.168.0.3:8001/actualiza_hora_salida_bahia","tls":"","persist":false,"proxy":"","authType":"","x":730,"y":1160,"wires":[["2c385703.632788"]]},{"id":"19fc3502.aff23b","type":"json","z":"ccc160a3.b8884","name":"","property":"payload","action":"","pretty":true,"x":570,"y":1160,"wires":[["b4839b4a.314068"]]},{"id":"2c385703.632788","type":"debug","z":"ccc160a3.b8884","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":910,"y":1160,"wires":[]},{"id":"da0c062e.1b00d8","type":"mqtt in","z":"ccc160a3.b8884","name":"","topic":"nodeMCU/sensorFotoelectrico7","qos":"2","datatype":"auto","broker":"5dc876a.929f488","x":210,"y":1240,"wires":[["949df172.27344","f1c8ccf9.52943"]]},{"id":"949df172.27344","type":"debug","z":"ccc160a3.b8884","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":490,"y":1240,"wires":[]},{"id":"c5494d17.ebf0f","type":"http request","z":"ccc160a3.b8884","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"http://192.168.0.3:8001/actualiza_estado_bahia","tls":"","persist":false,"proxy":"","authType":"","x":730,"y":1320,"wires":[["ef39c290.583b2"]]},{"id":"62536667.ad9248","type":"json","z":"ccc160a3.b8884","name":"","property":"payload","action":"","pretty":true,"x":570,"y":1320,"wires":[["c5494d17.ebf0f"]]},{"id":"ef39c290.583b2","type":"debug","z":"ccc160a3.b8884","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":910,"y":1320,"wires":[]},{"id":"f1c8ccf9.52943","type":"string","z":"ccc160a3.b8884","name":"","methods":[{"name":"between","params":[{"type":"str","value":"\"estado\":"},{"type":"str","value":"}"}]},{"name":"between","params":[{"type":"str","value":"\""},{"type":"str","value":"\""}]}],"prop":"payload","propout":"payload","object":"msg","objectout":"msg","x":280,"y":1320,"wires":[["835d473b.d52ed8","1c7e98de.b9d647"]]},{"id":"835d473b.d52ed8","type":"function","z":"ccc160a3.b8884","name":"","func":"if (msg.payload==\"ocupada\") {\n    msg.payload= '{\"bahia\": 7, \"estado\": \"ocupada\"}';\n}\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":1320,"wires":[["62536667.ad9248"]]},{"id":"1c7e98de.b9d647","type":"function","z":"ccc160a3.b8884","name":"","func":"if (msg.payload==\"libre\") {\n    msg.payload = '{\"bahia\": 7, \"estado\": \"libre\"}';\n}\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":1380,"wires":[["92c41d3e.5b1da"]]},{"id":"104c731f.cf7a5d","type":"http request","z":"ccc160a3.b8884","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"http://192.168.0.3:8001/actualiza_hora_salida_bahia","tls":"","persist":false,"proxy":"","authType":"","x":730,"y":1380,"wires":[["448f2f8c.c9726"]]},{"id":"92c41d3e.5b1da","type":"json","z":"ccc160a3.b8884","name":"","property":"payload","action":"","pretty":true,"x":570,"y":1380,"wires":[["104c731f.cf7a5d"]]},{"id":"448f2f8c.c9726","type":"debug","z":"ccc160a3.b8884","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":910,"y":1380,"wires":[]},{"id":"5dc876a.929f488","type":"mqtt-broker","z":"","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"4f7b1a40.3dbf74","type":"ui_group","z":"","name":"Entrada Vehiculo","tab":"a50ec8c7.d6f958","disp":true,"width":"6","collapse":false},{"id":"a50ec8c7.d6f958","type":"ui_tab","z":"","name":"Usuario","icon":"dashboard","disabled":false,"hidden":false}]